body {
    background-color:#eaeaea;
}
header {
    margin: 0;
    border-top: 2px solid #565656;
    border-bottom: 2px solid #565656;
    color: #565656;
    font-family: 'Chicle', cursive;
    font-size: 2.2em;
}
#pigeon {
    margin-top:8px;
    margin-right:8px;
    width: 36px;
    height: 36px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8));
}
#pigeons_h {
    color: #ffffff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}
.content {
    font-family: 'Lato',sans-serif;
}
.content p, .accordion {
    margin-top: 15px;
}
a {
    text-decoration: none;
}
